<div class="container">
  <h1 class="mt-5"><%=@article.title%><br/></h1>

  <div class="well">
    <small>
      <%= link_to(@article.user.username, user_path(@article.user)) if
      @article.user %>,
      <%= time_ago_in_words(@article.updated_at) %>
    </small>
  </div>

  <hr />

  <article class="mb-5">
    <%=@article.description%><br/>
  </article>

  <% if @article.categories.any? %>
    <div class="mb-5">
      Categories: <%= render @article.categories %>
    </div>
  <% end %>

  <% if logged_in? && (current_user === @article.user || current_user.admin?) %>
    <div class="mb-2">
      <%= link_to 'Edit', edit_article_path(@article),
        class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Delete', article_path(@article),
        method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>

  <%= link_to 'Show all articles', articles_path %>
</div>
