<div class="container">
  <h1 class="mt-5"><%=@article.title%><br/></h1>

  <div class="well">
    <small>
      <%= link_to(@article.user.username, user_path(@article.user)) if
      @article.user %>,
      <%= time_ago_in_words(@article.updated_at) %>
    </small>
  </div>

  <hr />

  <article class="mb-5">
    <%=@article.description%><br/>
  </article>

  <%= link_to 'Show all articles', articles_path %>
</div>
